doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://cdn.firebase.com/js/client/1.0.6/firebase.js')
    script(src='/javascripts/jquery-1.11.0.min.js')
    script(src='/javascripts/MediaStreamRecorder.js')
    script(src='/javascripts/main.js')
  body
    block content