body,
html,
#content,
#chat-pane {
  height: 100%;
}
body {
  margin: 0px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#content {
  display: table;
  width: 100%;
}
#content > div {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}
#videos-pane {
  width: 270px;
  border-left: 2px solid #dcc;
  overflow-y: hidden;
}
#webcam_stream {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
#webcam_stream video {
  border: 2px solid #dcc;
}
#second_counter {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}
#conversation {
  padding-bottom: 80px;
  overflow-y: scroll;
  height: 100%;
}
#submission {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}
#videos-scroll-pane {
  height: 100%;
  overflow-y: scroll;
}
#videos-scroll-pane video {
  border: 1px solid #dcc;
  box-sizing: border-box;
}
.information {
  text-align: center;
  margin: 0px 0px 10px;
}
.video-clip {
  display: inline-block;
  padding: 5px 5px 1px;
}
